<template>
  <!-- Static sidebar for desktop -->
  <div class="hidden md:flex md:flex-shrink-0">
    <div class="flex flex-col w-64">
      <!-- Sidebar component, swap this element with another sidebar if you like -->
      <div class="flex flex-col h-0 flex-1">
        <div class="flex items-center h-16 flex-shrink-0 px-4 bg-gray-900">
          <img
            class="h-8 w-auto"
            src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg"
            alt="Workflow"
          />
        </div>
        <div class="flex-1 flex flex-col overflow-y-auto">
          <nav class="flex-1 px-2 py-4 bg-gray-800 space-y-1">
            <nuxt-link
              :to="{ name: 'dashboard.index' }"
              :class="{
                'bg-gray-900 text-white':
                  $nuxt.$route.name === 'dashboard.index',
                'text-gray-300 hover:bg-gray-700 hover:text-white':
                  $nuxt.$route.name !== 'dashboard.index',
              }"
              class="group flex items-center px-2 py-2 text-sm font-medium rounded-md"
            >
              <!-- Heroicon name: outline/home -->
              <svg
                :class="{
                  'text-gray-300': $nuxt.$route.name === 'dashboard.index',
                  'text-gray-400 group-hover:text-gray-300':
                    $nuxt.$route.name !== 'dashboard.index',
                }"
                class="mr-3 h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                />
              </svg>
              {{ $t('dashboard') }}
            </nuxt-link>

            <nuxt-link
              :to="{ name: 'employees.index' }"
              :class="{
                'bg-gray-900 text-white':
                  $nuxt.$route.name === 'employees.index' ||
                  $nuxt.$route.name === 'employees.create',
                'text-gray-300 hover:bg-gray-700 hover:text-white':
                  $nuxt.$route.name !== 'employees.index' &&
                  $nuxt.$route.name !== 'employees.create',
              }"
              class="group flex items-center px-2 py-2 text-sm font-medium rounded-md"
            >
              <!-- Heroicon name: outline/users -->
              <svg
                :class="{
                  'text-gray-300': $nuxt.$route.name === 'dashboard.index',
                  'text-gray-400 group-hover:text-gray-300':
                    $nuxt.$route.name !== 'dashboard.index',
                }"
                class="mr-3 h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
                />
              </svg>
              {{ $t('employees') }}
            </nuxt-link>

            <a
              href="#"
              class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md"
            >
              <!-- Heroicon name: outline/folder -->
              <svg
                class="text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"
                />
              </svg>
              Projects
            </a>

            <a
              href="#"
              class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md"
            >
              <!-- Heroicon name: outline/calendar -->
              <svg
                class="text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                />
              </svg>
              Calendar
            </a>

            <a
              href="#"
              class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md"
            >
              <!-- Heroicon name: outline/inbox -->
              <svg
                class="text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"
                />
              </svg>
              Documents
            </a>

            <a
              href="#"
              class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md"
            >
              <!-- Heroicon name: outline/chart-bar -->
              <svg
                class="text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
                />
              </svg>
              Reports
            </a>
          </nav>
        </div>
        <div class="flex-shrink-0 flex bg-gray-700 p-4">
          <ui-language-dropdown />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Desktop',
  props: {
    open: Boolean,
  },
  methods: {
    routeIs(route) {
      return this.$route.name.includes(route)
    },
    toggleSidebar() {
      this.$emit('toggleSidebar')
    },
  },
}
</script>
