<template>
  <span class="relative z-0 inline-flex shadow-sm rounded-md">
    <div
      v-click-outside="hideMenuManage"
      class="relative inline-block text-left"
    >
      <div>
        <button
          id="options-menu-manage"
          type="button"
          class="-ml-px relative inline-flex items-center px-2.5 py-1.5 rounded-md bg-indigo-700 text-xs font-medium text-white hover:bg-indigo-800 focus:outline-none focus:z-10 focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-700"
          aria-expanded="true"
          aria-haspopup="true"
          @click.prevent="openMenuManage = !openMenuManage"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="mr-1 h-3 w-3"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
            />
          </svg>
          Manage
          <svg
            class="-mr-1 ml-2 h-3 w-3"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
      <transition
        enter-active-class="transition ease-out duration-100"
        enter-class="transform opacity-0 scale-95"
        enter-to-class="transform opacity-100 scale-100"
        leave-active-class="transition ease-in duration-75"
        leave-class="transform opacity-100 scale-100"
        leave-to-class="transform opacity-0 scale-95"
      >
        <div
          v-show="openMenuManage"
          class="origin-top-right absolute right-0 mt-2 sm:max-w-md max-w-xl w-screen rounded-md shadow-lg bg-indigo-700 ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="options-menu-manage"
        >
          <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
              <div v-if="form.first_name" class="sm:col-span-1">
                <dt class="text-sm font-medium text-white">
                  {{ $t('first_name') }}
                </dt>
                <dd class="mt-1 text-xs text-gray-900">
                  <ui-input
                    name="first_name"
                    type="text"
                    :error="form.errors.get('first_name')"
                    :has-error="form.errors.has('first_name')"
                    :value="form.first_name"
                    @update:modelValue="form.first_name = $event"
                  />
                </dd>
              </div>
              <div v-if="employee.middle_name" class="sm:col-span-1">
                <dt class="text-sm font-medium text-white">
                  {{ $t('middle_name') }}
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <ui-input
                    name="middle_name"
                    type="text"
                    :error="form.errors.get('middle_name')"
                    :has-error="form.errors.has('middle_name')"
                    :value="form.middle_name"
                    @update:modelValue="form.middle_name = $event"
                  />
                </dd>
              </div>
              <div v-if="employee.last_name" class="sm:col-span-1">
                <dt class="text-sm font-medium text-white">
                  {{ $t('last_name') }}
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <ui-input
                    name="last_name"
                    type="text"
                    :error="form.errors.get('last_name')"
                    :has-error="form.errors.has('last_name')"
                    :value="form.last_name"
                    @update:modelValue="form.last_name = $event"
                  />
                </dd>
              </div>
              <div v-if="employee.salutation" class="sm:col-span-1">
                <dt class="text-sm font-medium text-white">
                  {{ $t('salutation') }}
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <ui-input
                    name="salutation"
                    type="text"
                    :error="form.errors.get('salutation')"
                    :has-error="form.errors.has('salutation')"
                    :value="form.salutation"
                    @update:modelValue="form.salutation = $event"
                  />
                </dd>
              </div>
              <div v-if="employee.gender" class="sm:col-span-1">
                <dt class="text-sm font-medium text-white">
                  {{ $t('gender') }}
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{ employee.gender === 'm' ? $t('male') : $t('female') }}
                </dd>
              </div>
              <div v-if="employee.marital_status" class="sm:col-span-1">
                <dt class="text-sm font-medium text-white">
                  {{ $t('marital_status') }}
                </dt>
                <dd class="mt-1 text-sm text-gray-900"></dd>
              </div>
              <div v-if="employee.identity_no" class="sm:col-span-1">
                <dt class="text-sm font-medium text-white">
                  {{ $t('identity_no') }}
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <ui-input
                    name="identity_no"
                    type="text"
                    :error="form.errors.get('identity_no')"
                    :has-error="form.errors.has('identity_no')"
                    :value="form.identity_no"
                    @update:modelValue="form.identity_no = $event"
                  />
                </dd>
              </div>
              <div v-if="employee.employee_no" class="sm:col-span-1">
                <dt class="text-sm font-medium text-white">
                  {{ $t('employee_no') }}
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <ui-input
                    name="employee_no"
                    type="text"
                    :error="form.errors.get('employee_no')"
                    :has-error="form.errors.has('employee_no')"
                    :value="form.employee_no"
                    @update:modelValue="form.employee_no = $event"
                  />
                </dd>
              </div>
              <div v-if="employee.nickname" class="sm:col-span-1">
                <dt class="text-sm font-medium text-white">
                  {{ $t('nickname') }}
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <ui-input
                    name="nickname"
                    type="text"
                    :error="form.errors.get('nickname')"
                    :has-error="form.errors.has('nickname')"
                    :value="form.nickname"
                    @update:modelValue="form.nickname = $event"
                  />
                </dd>
              </div>
              <div v-if="employee.status" class="sm:col-span-1">
                <dt class="text-sm font-medium text-white">
                  {{ $t('status') }}
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{ employee.is_active ? $t('active') : $t('inactive') }}
                </dd>
              </div>
              <div v-if="employee.date_of_birth" class="sm:col-span-1">
                <dt class="text-sm font-medium text-white">
                  {{ $t('date_of_birth') }}
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{ employee.date_of_birth }}
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </transition>
    </div>
  </span>
</template>
<script>
import ClickOutside from 'vue-click-outside'
import { mapGetters } from 'vuex'
import Form from 'vform'
export default {
  directives: {
    ClickOutside,
  },
  props: {
    employee: {
      type: Object,
      default: null,
    },
  },
  data: () => ({
    form: new Form({
      first_name: '',
    }),
    openMenuManage: false,
  }),
  created() {
    if (this.employee) {
      this.form.first_name = this.employee.first_name
      this.form.middle_name = this.employee.middle_name
      this.form.last_name = this.employee.last_name
      this.form.salutation = this.employee.salutation
      this.form.gender = this.employee.gender
      this.form.marital_status = this.employee.marital_status
      this.form.identity_no = this.employee.identity_no
      this.form.employee_no = this.employee.employee_no
      this.form.nickname = this.employee.nickname
      this.form.date_of_birth = this.employee.date_of_birth
    }
  },
  computed: {
    ...mapGetters({
      employee: 'employees/employee',
    }),
  },

  watch: {
    employee() {
      //
    },
  },

  methods: {
    hideMenuManage() {
      this.openMenuManage = false
    },
  },
}
</script>
