<template>
  <ui-main>
    <main class="h-screen flex overflow-hidden focus:outline-none bg-white">
      <div class="flex flex-col min-w-0 flex-1 overflow-hidden">
        <breadcrumb :param-name="paramName" />
        <nuxt-child
          :submit-form-from-prop="submit"
          @setParamName="setParamName"
          @resetSubmitProp="resetSubmitProp"
        />
      </div>
    </main>
  </ui-main>
</template>
<script>
import ClickOutside from 'vue-click-outside'

export default {
  directives: {
    ClickOutside,
  },
  layout: 'default',
  middleware: 'verified',
  data: () => ({
    submit: false,
    open: false,
    paramName: '',
  }),
  methods: {
    submitForm() {
      this.submit = true
    },

    resetSubmitProp() {
      this.submit = false
    },

    setParamName(employee) {
      if (employee) {
        this.paramName = employee.first_name + ' ' + employee.last_name
      } else {
        this.paramName = null
      }
    },

    hideMenu() {
      this.open = false
    },
  },
}
</script>
