<template>
  <div
    class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-pink-500"
  >
    <div class="flex-shrink-0">
      <img
        class="h-10 w-10 rounded-full"
        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=5G0gU1jGpX&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        alt=""
      />
    </div>
    <div class="flex-1 min-w-0">
      <a href="#" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true" />
        <p class="text-sm font-medium text-gray-900">
          <slot />
        </p>
        <p class="text-sm text-gray-500 truncate">
          Co-Founder / CEO
        </p>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MiniCard',

  props: {
    title: { type: String, default: null }
  }
}
</script>
